"*":
  "activate-power-mode":
    comboMode: {}
    playAudio:
      audioclip: "customAudioclip"
    plugins:
      playAudio: true
      screenShake: false
  "atom-beautify":
    bash:
      indent_size: 2
      indent_with_tabs: false
    general: {}
    html:
      indent_inner_html: true
    yaml: {}
  autosave: {}
  "bracket-matcher":
    highlightMatchingLineNumber: true
  core:
    closeDeletedFileTabs: true
    customFileTypes:
      "source.ansible-advanced": [
        "main.yml"
      ]
    projectHome: "/home/pandemonium/git"
    telemetryConsent: "no"
    uriHandlerRegistration: "always"
  editor:
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softTabs: false
  "exception-reporting":
    userId: "37827a1d-ad50-4638-a816-8429e7a4c5ad"
  "file-icons": {}
  "git-diff":
    showIconsInEditorGutter: true
  "highlight-selected": {}
  "line-ending-selector":
    defaultLineEnding: "LF"
  "linter-docker":
    executablePath: "/usr/bin/dockerlint"
  "linter-js-yaml": {}
  "linter-shellcheck":
    shellcheckExecutablePath: "/usr/bin/shellcheck"
  "linter-ui-default":
    panelHeight: -19
    showPanel: true
  "linter-vagrant-validate": {}
  "markdown-preview": {}
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      "split-diff": true
      "split-diffDecorationsZIndex": 0
  "status-bar": {}
  tabs:
    addNewTabsAtEnd: true
    enableVcsColoring: true
  "tree-view": {}
  welcome:
    showOnStartup: false
".ansible-advanced.source":
  editor:
    tabType: "soft"
".ansible.source":
  editor:
    tabType: "soft"
".basic.html.text":
  editor:
    tabType: "auto"
".shell.source":
  editor:
    tabType: "soft"
